@keyframes opacityAppearAnim {
    from{opacity: 0;}
    to{opacity: 1;}
}

.appear{
    animation: opacityAppearAnim forwards .3s ease-in-out;
}

@keyframes appear {
    from{width: 0px;}
    to{width: 2.5rem;}
}

.barAppear{
    animation: appear .25s ease-in-out;
}

.sidebar{
    width: 2.5rem;
    transition:.5s all ease;
}

.sidebar:hover{
    width: 3.5rem;
}

@keyframes Boxappear {
    from{opacity: 0;
        transform: translatex(-20px);}
    to{opacity: 1;
        transform: translatex(0px);}
}

.boxAppear{
    animation: forwards Boxappear .5s ease-in-out
}


